@{
    ViewData["Title"] = "Home Page";
}

<body>
<div class="container-fluid p-5 bg-primary text-white">
<div class="container">
    <div class="row">
        <div class="col-6 text-start ">
                <h1 class="display-5 ">Welcome to Robotat Company to make the robot as you wish!</h1>
                <hr />
                <h4 class="mt-5">Start selecting your components to build your robot.</h4>
                <div class="form-group">
                    <a class="btn btn-primary me-2 "asp-area="" asp-controller="Robots" asp-action="Index">Select here</a>
                </div>
        </div>
            <div class="col-6 text-end">
                    <img src="https://images.squarespace-cdn.com/content/v1/5f590adf56d09a2b3afddf93/1618785665331-IOTRDE31W5H32TV3D9I1/Copy+of+tellodrone.png?format=2500w" alt="Girl in a jacket" height="400">
        </div>
    </div>
  </div>
</div>
<div class="container text-center">
    <div class="mt-4">
        <h4 class="text-secondary">Our Robots</h4>
        <h3 class="text-primary"> Our Robots Customers trust our services</h3>
    </div>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active bg-primary"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="bg-primary"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="bg-primary"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active ">

                <img src="https://www-cdn.djiits.com/cms/uploads/ae5d8b9987be8d5ecdeb5d502a1e887c.png" alt="Drone" class=" text-center" style="width:50%">
            </div>
            <div class="carousel-item">
                <img src="https://global.agilex.ai/cdn/shop/files/Scoutmini__453_84f5aad6-5d1a-4ed0-a511-80ef51702a11.png?v=1718028946" alt="Car Ai" class="text-center" style="width:50%">
            </div>
            <div class="carousel-item">
                <img src="https://www.ayva.ca/eng/wp-content/uploads/2020/02/RB6231-1.png" alt="Arm Robot" class="text-center" style="width:50%">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    
</div>

    
</body>
