<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AMA.Robotat.Mvc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AMA.Robotat.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="container navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://cdn.discordapp.com/attachments/1339964390530613339/1345495363900932177/2392376.jpg?ex=67c4c1b4&is=67c37034&hm=e75af68ac4c652bb55c7733b77cea33392ea3830ceec486a67d80c9df05c5d00&" alt="Girl in a jacket" height="50">
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Components" asp-action="Index">Components</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Robots" asp-action="Index">Robots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
                @RenderBody()
                

        </main>
    </div>

    <footer class="border-top  text-muted">
        <div class="container mb-5">
            <div class="mt-4 text-center">
                <h4 class="text-secondary">Service</h4>
                <h3 class="text-primary">Check out the great services we offer </h3>
            </div>
            <div class="mt-5 row mt-5">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://peerlesselectronics.com/media/amasty/blog/PE-Soldering-2.jpg" class="card-img-top" height="200">
                        <div class="card-body">
                            <h5 class="card-title">It takes</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.sparkfun.com/assets/learn_tutorials/6/0/0/g80910.png" class="card-img-top" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Testing</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn-icons-png.flaticon.com/512/11778/11778349.png" class="card-img-top" height="200">
                        <div class="card-body">
                            <h5 class="card-title">Programming</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container mt-5 ">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Useful Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Our Services</h5>
                        <ul class="list-unstyled">
                            <li>Web Development</li>
                            <li>Graphic Design</li>
                            <li>Product Management</li>
                            <li>Marketing</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Contact Us</h5>
                        <p>Phone: +56277755859</p>
                        <p>Email: info@example.com</p>
                        <p>Main Street, Amazon, Sports Circle</p>
                    </div>
                <div class="col-3">
                    <dl>
                        <dt>Follow us on Social Networks</dt>
                        <dd class="my-2">Copyright Mbax.Af Rights Reserved</dd>
                        <dd>Designed by Mbax</dd>
                    </dl>
                    <div class="row">
                        <div class="col-2">
                            <a href="#">
                                <i class="fa-brands fa-facebook text-primary  fs-3"></i>
                            </a>
                            
                        </div>
                        <div class="col-2">
                            <a href="#">
                                <i class="fa-brands fa-instagram text-primary fs-3"></i>
                            </a>
                            
                        </div>
                        <div class="col-2">
                            <a href="#">
                                <i class="fa-brands fa-x-twitter text-primary fs-3"></i>
                            </a>
                            
                        </div>
                        <div class="col-2">
                            <a href="https://www.linkedin.com/in/abdalrahman-al-absi-39b70b210/">
                                <i class="fa-brands fa-linkedin text-primary fs-3"></i>
                            </a>
                            
                        </div>
                        <div class="col-2">
                            <a href="https://github.com/aboodabsi881">
                                <i class="fa-brands fa-github text-primary fs-3"></i>
                            </a>

                        </div>


                    </div>
                </div>
                </div>
                    
            &copy; 2025 - AMA.Robotat.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
